

  <table style="width: 30%;">
    <tbody>
    <tr>
    <td style="background-color:aqua"><h2 style="text-align: center; margin: 12px;">Add Employee</h2></td>
    </tr>
    <tr>
    <td style="background-color:lightcoral;"><br />
      <div style="text-align: center;">
        <form [formGroup]="DesignationForm">
      FirstName:-<input type="text" name="firstname" formControlName="firstname"><br /><br />
      <div id="validation" *ngIf="submitted && DesignationForm.get('firstname').hasError('required')">Firstname is required</div>
      LastName:-<input type="text" name="lastname" formControlName="lastname"><br /><br />
      <div id="validation" *ngIf="submitted && DesignationForm.get('lastname').hasError('required')">LastName is required</div>
      Date_of_Birth:-<input type="date" name="DOB" formControlName="DOB"><br /><br />
      <div id="validation" *ngIf="submitted && DesignationForm.get('DOB').hasError('required')">Date_of_Birth is required</div>
      Designation:-<select formControlName="DesignationValue">
        <!-- <div id="validation" *ngIf="submitted && DesignationForm.get('Designation').hasError('required')">Designation is required</div> -->
        <option disabled>--------------Select---------------</option>
        <option *ngFor="let items of Designation" [value]="items">{{items}}</option>
        </select><br /><br />
      Grade:-<select formControlName="GradeValue">
        <option disabled>--------------Select---------------</option>
        <option *ngFor="let item of Grade" [value]="item">{{item}}</option>
        </select><br /><br />
        <input type="button" value="Submit" class="btn btn-primary btn-primary" (click)="onSubmit()"> |
        <input type="button" value="Cancel" class="btn btn-primary" (click)="onCancel()">
      </form>
      </div><br />
    </td>   
    </tr>
    </tbody>
    </table><br />
   <table style="width:30%; background-color:lightslategrey; margin-top: 0px;">
     <thead>
       <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>DOB</th>
          <th>Designation</th>
          <th>Grade</th>
          <th>Option</th>
       </tr>
       </thead>
    <tbody>
      <tr *ngFor="let data of designattionForm1; index as i"> 
           <!-- <td>  {{i+1}}</td> --> 
           <td> {{data.firstName}}</td>
           <td> {{data.lastName}}</td>
           <td> {{data.DOB}}</td>
           <td> {{data.Designation}}</td>
           <td> {{data.Grade}}</td>
           <td>&nbsp;<a href="#" (click)="onEdit(data)"><i class="fa fa-edit btn-edit"></i></a> &nbsp; <a href="#" (click)="onDelete(i)"><span class="fa fa-trash btn-trash" aria-hidden="true"></span></a></td>    
      </tr>
    </tbody>
   </table>  

<router-outlet></router-outlet>